[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
yapf = "*"
autopep8 = "*"
flake8 = "*"
isort = "*"
pipenv = "*"
mock = "==3.0.5"
codecov = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest = "*"
zipp = "==1.2.0"
tokenize-rt = "==3.2.0"

[packages]
itsdangerous = "*"
pexpect = "*"
click = "*"
lazy-object-proxy = "*"
psutil = "*"
future-fstrings = "*"

[requires]
python_version = "3.6"
