[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
yapf = "*"
autopep8 = "*"
flake8 = "*"
isort = "*"
pipenv = "*"
twine = "*"
mock = "*"
codecov = "*"

[packages]
itsdangerous = "*"
pexpect = "*"
paramiko = "*"
click = "*"
lazy-object-proxy = "*"

[requires]
python_version = "3.6"
